<%
  function_name = function.name.to_human_case if function.name
  function_description = function.description || "No function description"
  slug = slug_for function
%>
<section class="sk-api-function sk-api-section">
  <h3 id="<%= slug %>" data-anchor> <%= function_name %> </h3>
  <div class="sk-api-description">
    <%= function_description.to_html %>
  </div>
  <% if function.return || function.parameters %>
    <dl>
      <%# == Return Type == %>
      <%
        return_description = function.return.description || "No return description"
        if function.return.type
          return_type = function.return.type.to_human_case
          is_proc = function.return.type == 'void' && !function.return.is_pointer && !function.return.is_reference
        end
      %>
      <% if function.return && !function.return.empty? && !is_proc %>
        <dt>
          Return Type
        </dt>
        <dd>
          <strong>
            <%= return_type %>
          </strong>
          <%= return_description.to_html %>
        </dd>
      <% end %>
      <%# == Parameters == %>
      <% if function.parameters && !function.parameters.empty? %>
        <dt>
          Parameters
        </dt>
        <dd>
          <table>
            <thead>
              <tr>
                <th class="sk-table-fixed-header">Name</th>
                <th class="sk-table-fixed-header">Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% function.parameters.each do |param_name, param_data| %>
                <tr>
                  <th>
                    <%= param_name.to_human_case %>
                  </th>
                  <td>
                    <% if param_data.type %>
                      <code>
                        <%= param_data.type.to_human_case %>
                      </code>
                    <% else %>
                      Unknown
                    <% end %>
                  </td>
                  <td>
                    <%= (param_data.description || "No description").to_html %>
                  </td>
                </tr>
              <% end # end function params each %>
            </tbody>
          </table>
        </dd>
      <% end # if params %>
  <% end # if params || return %>
</section>
