<section class="sk-api-function sk-api-section">
  <h3 id="<%= slug_for function %>" data-anchor> <%= function.name.to_human_case %> </h3>
  <div class="sk-api-description">
    <%= (function.description || "No function description").to_html %>
  </div>
  <% if function.return || function.parameters %>
    <dl>
      <%# == Return Type == %>
      <%
        if function.return.type
          is_proc = function.return.type == 'void' && !function.return.is_pointer && !function.return.is_reference
        end
      %>
      <% if function.return && !function.return.empty? && !is_proc %>
        <dt>
          Return Type
        </dt>
        <dd>
          <strong>
            <%= function.return.type.to_slug_link %>
          </strong>
          <%= (function.return.description || "No return description").to_html %>
        </dd>
      <% end %>
      <%# == Parameters == %>
      <% if function.parameters && !function.parameters.empty? %>
        <dt>
          Parameters
        </dt>
        <dd>
          <table>
            <thead>
              <tr>
                <th class="sk-table-fixed-header">Name</th>
                <th class="sk-table-fixed-header">Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
              <% function.parameters.each do |param_name, param_data| %>
                <tr>
                  <th>
                    <%= param_name.to_human_case %>
                  </th>
                  <td>
                    <% if param_data.type %>
                      <%= param_data.type.to_slug_link %>
                    <% else %>
                      Unknown
                    <% end %>
                  </td>
                  <td>
                    <%= (param_data.description || "No description").to_html %>
                  </td>
                </tr>
              <% end # end function params each %>
            </tbody>
          </table>
        </dd>
      <% end # if params %>
      <dt>
        Signatures
      </dt>
      <dd>
        <%= snippet function.signatures %>
      </dd>

      <% if !guides.empty? %>
        <dt>
          Guides
        </dt>
        <dd>
        <% guides.each do |g| %>
          <% if !g[:api_linked_functions].empty? %>
            <% g[:api_linked_functions].each do |f| %>
              <% if function.unique_global_name.downcase == f.downcase %>
                  <a class="btn btn-primary btn-sm guide-button" target="_blank" href="/<%= g[:uri] %>"><%= g[:doc_title] %></a>
              <% end # if function match %>
            <% end # each function %>
          <% end # if linked functions %>
        <% end # each guide %>
        </dd>
      <% end # if guides  %>

  <% end # if params || return %>
</section>
