<nav role="navigation">
  <ul class="nav sk-api-nav-root">
    <% data.api.keys.each do |api_group| %>
      <% is_active = current_page.url == "#{path_for_group(api_group)}/" %>
      <li class="nav-item">
        <%# Group %>
        <a href="<%= path_for_group api_group %>" class="nav-link <%= 'active' if is_active %>">
          <%= api_group.to_human_case %>
        </a>
        <%# Active page TOC %>
        <% if is_active && (!functions.empty? || !types.empty? || !defines.empty?) %>
          <nav role="navigation">
            <% if !functions.empty? %>
              <%= partial 'partials/api/section_nav', locals: { header: 'Functions', links: functions } %>
            <% end %>
            <% if !types.empty? %>
              <%= partial 'partials/api/section_nav', locals: { header: 'Types', links: types } %>
            <% end %>
            <% if !defines.empty? %>
              <%= partial 'partials/api/section_nav', locals: { header: 'Macros', links: defines } %>
            <% end %>
          </nav>
        <% end %>
      </li>
    <% end %>
  </ul>
</nav>
