<% if description %>
  <section class="sk-api-description">
    <%= description.to_html %>
  </section>
<% end %>

<%# Functions %>
<% if !functions.empty? %>
  <section class="sk-api-functions">
    <h2> Functions </h2>
    <% functions.group_by { |fn| fn.name }.each do |group, functions| %>
      <section class="sk-api-function sk-api-section" <%= "style='display:none'" unless functions.length > 1 %>>
        <h3 id="group-<%= slug_for group %>" data-anchor> <%= group.to_human_case %> </h3>
        <div class="sk-api-description">
          There are multiple versions of <%= group.to_human_case %>:
          <ul>
            <% functions.each do |function| %>
              <li>
                <a href="<%= slug_url_for(function) %>">
                  <%= group.to_human_case %> ( <%= function.parameters.map {|param_name, param_data| param_data.type.to_human_case }.join(", ") %> )
                </a>
              </li>
            <% end %>
          </ul>
        </div>
      </section>
      <% functions.each do |function| %>
        <%= partial 'partials/api/function', locals: { function: function } %>
      <% end %>
    <% end %>
  </section>
<% end %>

<%# Types %>
<% if !types.empty? %>
  <section class="sk-api-types">
    <h2> Types </h2>
    <% types.each do |type| %>
      <%= partial 'partials/api/type', locals: { type: type } %>
    <% end %>
  </section>
<% end %>