<%
data.api.each do |key, value|
  name_id = key.to_kebab_case
  name = key.to_human_case
  types = (value.typedefs + value.structs + value.enums).sort_by{ |h| h[:name] }
%>

<!-- start the accordian -->
<div class="panel panel-default">
  <div class="panel-heading" data-toggle="collapse" href="#accordion-<%= name_id %>" aria-expanded="false" aria-multiselectable="true" aria-controls="accordion-<%= name_id %>" id = "<%=name%>">
    <div class=name-title> <%= name %>. </div>
    <%
      if value.brief
    %>
    <hr>
    <p>
      <%= value.brief.to_html%>
    </p>
    <%
      end #if value brief
    %>
  </div>

  <div class="collapse" id="accordion-<%= name_id %>">
    <div class="panel-body">

<%#
  DESCRIPTION
%>
<%
  if value.description
%>
      <div>
        <%= value.description.to_html %>
      </div>
<%
  end # end if value description
%>
<%#
  FUNCTIONS
%>
<%
  if !value.functions.empty?
%>
      <h2>
        <%= name %> Functions
      </h2>
<%
  end # if functions empty
%>
<%
  value.functions.each do |function|

%>

<%
  if types && !types.empty?
%>
      <h2>
        <%= name %> types
      </h2>
<%
    types.each do |type|
      type_name = type.name.to_human_case if type.name
      type_description = type.description || "No description"
      is_struct = !type.fields.nil?
      is_enum = !type.constants.nil?
%>
      <dl class="dl-horizontal">
        <dt id = "<%=type.name.to_kebab_case %>"> <%= type_name %> </dt>
        <dd>
          <%= type_description.to_html %>
<%#
  STRUCT FIELDS
%>
<%
      if is_struct
%>
          <table class="table table-hover">
            <caption> Struct Fields </caption>
            <thead>
              <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Description</th>
              </tr>
            </thead>
            <tbody>
<%
        type.fields.each do |key, field|
          field_name =          key.to_human_case if key
          field_description =   field.description || "No field description"
          field_type =          field.type || "ERROR - No type given"
%>
              <tr>
                <td> <%= field_name %> </td>
                <td> <%= field_type.to_html %> </td>
                <td> <%= field_description.to_html %> </td>
              </tr>
<%
        end # end struct.fieldds.each
%>
            </tbody>
          </table>
<%
      end # if struct
%>
<%#
  ENUM CONSTANTS
%>
        </dd>
<%
    end # end types.each
%>
<%
  end # end types if
%>
      </dl>
    </div>
  </div>
</div> <!-- end the accordian -->

<%
end # end api.each
%>
